@page "/Criar_leilao"

@code {

}

<PageTitle>Criar Leilão</PageTitle>

<h1>Criar Leilão</h1>

<div class="auction-templates-container">
    <div class="cancel-auction-button">Cancelar <br> Leilão</div>

    <div class="templates-container" id="templatesContainer">
        <Leilao_template />
    </div>

    <div class="add-template-button">
        <img src="/imgs/plus.png" style="height: 40px;">
    </div>
</div>