.template-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    gap: 20px;
}

.template-left, .template-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    border-radius: 20px;
    padding: 30px;
    row-gap: 20px;
}

.template-right {
    width: 80%;
}

.auction-input {
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    width: 100%;
}

.input {
    width: 50%;
}

.description {
    width: 100%;
}

.template-row-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.publish-button {
    background-color: #c02b44;
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px 30px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.publish-button:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .template-row-right {
        flex-direction: column;
    }
}