@using System;

@code {
    [Parameter] public string imagem { get; set; }
    [Parameter] public string tipo_item { get; set; }
    [Parameter] public string nome_skin { get; set; }
    [Parameter] public string condicao { get; set; }
    [Parameter] public string raridade { get; set; }
}

<div class="template-container">
        <div class="auction-input">
            <input type="file" accept="image/*" required />
        </div>

        <div class="auction-input">   
            <select class="input" name="weapon" @bind="@tipo_item" required>
                <option value="" disabled selected hidden>Arma/Luva/Faca</option>
                    <option value="AK47">AK-47</option>
                    <option value="M4A1">M4A1</option>
                    <option value="AWP">AWP</option>
                    <option value="DEAGLE">Desert Eagle</option>
                    <option value="USP">USP-S</option>
                    <option value="GLOCK">Glock-18</option>
                    <option value="P250">P250</option>
                    <option value="FAMAS">FAMAS</option>
                    <option value="GALIL">Galil AR</option>
                    <option value="AUG">AUG</option>
                    <option value="SG">SG 553</option>
                    <option value="M249">M249</option>
                    <option value="NEGEV">Negev</option>
                    <option value="MP9">MP9</option>
                    <option value="MAC10">MAC-10</option>
                    <option value="UMP">UMP-45</option>
                    <option value="P90">P90</option>
                    <option value="PPBIZON">PP-Bizon</option>
                    <option value="XM">XM1014</option>
                    <option value="MAG7">MAG-7</option>
                    <option value="SAWEDOFF">Sawed-Off</option>
                    <option value="NOVA">Nova</option>
                    <option value="SCAR">SCAR-20</option>
                    <option value="G3">G3SG1</option>
                    <option value="LUVA">Luva</option>
                    <option value="M9">M9 Bayonet</option>
                    <option value="KARAMBIT">Karambit</option>
                    <option value="BUTTERFLY">Butterfly Knife</option>
            </select>
        </div>

        <div class="auction-input">
            <input class="input" name="nome" type="text" placeholder="Nome da skin" @bind="@nome_skin" required />
        </div>

        <div class="auction-input">
            <select class="input" name="condition" @bind="@condicao" required>
                <option value="" disabled selected hidden>Condição</option>
                <option value="Factory-New">Factory-New</option>
                <option value="Minimal-Wear">Minimal-wear</option>
                <option value="Field-Tested">Field-Tested</option>
                <option value="Well-Worn">Well-Worn</option>
                <option value="Battle-Scarred">Battle-Scarred</option>
            </select>
        </div>

        <div class="auction-input">
            <select class="input" name="rarity" @bind="@raridade" required>
                <option value="" disabled selected hidden>Raridade</option>
                <option value="Cinzento">Cinzento</option>
                <option value="Azul-Claro">Azul-Claro</option>
                <option value="Azul">Azul</option>
                <option value="Roxo">Roxo</option>
                <option value="Rosa">Rosa</option>
                <option value="Vermelho">Vermelho</option>
                <option value="Dourado">Dourado</option>
            </select>
        </div>
</div>