@using System;

@code {
    [Parameter]
    public string tipo_item { get; set; }
    
    [Parameter]
    public string nome_skin { get; set; }

    [Parameter]
    public string condicao { get; set; }

    [Parameter]
    public string descricao { get; set; }

    [Parameter]
    public string raridade { get; set; }

    [Parameter]
    public float preco_inicial { get; set; }

    [Parameter]
    public float preco_reserva { get; set; }

    [Parameter]
    public float duracao { get; set; }

    [Parameter]
    public DateTime data_inicio { get; set; }

    [Parameter]
    public DateTime data_fim { get; set; }
}

<div class="template-container">

</div>