@page "/Admin_dashboard"

@code {

    private int delete_conta;
    private int desbloquea_conta;
    private int bloquea_conta;

    public bool showAdmin = false;
    public bool showDeleted = false;
    public bool showExists = false;
    public bool showsDesbloqueado = false;
    public bool showsBloqueado = false;

    void ResetErrorMessages()
    {
        showAdmin = false;
        showDeleted = false;
        showExists = false;
        showsDesbloqueado = false;
        showsBloqueado = false;
    }

    void apaga()
    {
        ResetErrorMessages();
        
        IDatabaseFacade db = new DatabaseFacade();
        if(db.IDPessoa_existe(delete_conta) == false)
        {
            showExists = true;
        }
        else 
        {
            Pessoa user = db.get_Pessoa(delete_conta);
            if(user.getTipo() == TipoDePessoa.Administrador)
            {
                showAdmin = true;
            }
            else
            {
                db.remove_Pessoa(delete_conta);
                showDeleted = true;
            }
        }
    }

    void desbloquea()
    {
        ResetErrorMessages();

        IDatabaseFacade db = new DatabaseFacade();
        if(db.IDPessoa_existe(desbloquea_conta) == false)
        {
            showExists = true;
        }
        else
        {
            Pessoa user = db.get_Pessoa(desbloquea_conta);
            if(user.getTipo() == TipoDePessoa.Administrador)
            {
                showAdmin = true;
            }
            else
            {
                user.setEstado(Estado.Desbloqueado);
                db.add_Pessoa(user);
                showsDesbloqueado = true;
            }
        }
    }

    void bloquea()
    {
        ResetErrorMessages();
        IDatabaseFacade db = new DatabaseFacade();
        if(db.IDPessoa_existe(bloquea_conta) == false)
        {
            showExists = true;
        }
        else
        {
            Pessoa user = db.get_Pessoa(bloquea_conta);
            if(user.getTipo() == TipoDePessoa.Administrador)
            {
                showAdmin = true;
            }
            else
            {
                user.setEstado(Estado.Bloqueado);
                db.add_Pessoa(user);
                showsBloqueado = true;
            }
        }
    }
}

<PageTitle>Admin Dashboard</PageTitle>

<div class="admin-container">
    <h1>ADMIN</h1>

    <div class="inputs-container">
        <div class="input-row">
            <div class="admin-input">
                <label for="block">Bloquear conta: </label>
                <input type="number" @bind-value="bloquea_conta" name="block" />
            </div>

            <img class="confirm-input" src="imgs/accept.png" @onclick="bloquea">
        </div>

        <div class="input-row">
            <div class="admin-input">
                <label for="unblock">Desbloquear conta: </label>
                <input type="number" @bind-value="desbloquea_conta" name="unblock" />
            </div>

            <img class="confirm-input" src="imgs/accept.png" @onclick="@desbloquea">
        </div>

        <div class="input-row">
            <div class="admin-input">
                <label for="delete">Apagar conta: </label>
                <input type="number" @bind-value="delete_conta" name="delete" />
            </div>

            <img class="confirm-input" src="imgs/accept.png" @onclick="@apaga">
        </div>
        @if (showAdmin) {
            <div class="error-message">
                <p>Não podes alterar Administradores!</p>
            </div>
        }
        @if (showDeleted) {
            <div class="error-message">
                <p>Conta apagada!</p>
            </div>
        }
        @if (showExists) {
            <div class="error-message">
                <p>Conta não existe!</p>
            </div>
        }
        @if (showsDesbloqueado) {
            <div class="error-message">
                <p>Conta Desbloqueada</p>
            </div>
        }
        @if (showsBloqueado) {
            <div class="error-message">
                <p>Conta Bloqueada</p>
            </div>
        }
    </div>
</div>