.auction-card-container[b-zs4le6p17l] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #d9d9d9;
    padding: 20px;
    border-radius: 20px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.auction-card-container:hover[b-zs4le6p17l] {
    transform: scale(1.05);
}

.skin-picture[b-zs4le6p17l] {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
}

.weapon-skin[b-zs4le6p17l], .condition[b-zs4le6p17l] {
    font-weight: bold;
}