.navbar[b-vl3c23brav] {
    color: #fff;
    font-weight: bold;
    background-color: #c02b44;
}

a.navbar-brand[b-vl3c23brav] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-vl3c23brav] {
  color: #ffffff;
}

.nav-item[b-vl3c23brav] {
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.nav-item:hover[b-vl3c23brav] {
  transform: scale(1.05);
}