/* _content/app/Pages/Admin_dashboard/Admin_dashboard.razor.rz.scp.css */
.admin-container[b-2mapuv6k0p], .inputs-container[b-2mapuv6k0p] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputs-container[b-2mapuv6k0p] {
    width: 80%;
    background-color: #d9d9d9;
    border-radius: 20px;
    gap: 20px;
    padding: 20px 0;
}

.admin-input[b-2mapuv6k0p], .input-row[b-2mapuv6k0p] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 80%;
}

.admin-input[b-2mapuv6k0p] {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

.confirm-input[b-2mapuv6k0p] {
    width: 40px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.confirm-input:hover[b-2mapuv6k0p] {
    transform: scale(1.05);
}
/* _content/app/Pages/Criar_leilao/Criar_leilao.razor.rz.scp.css */
.auction-templates-container[b-54tmngobm8] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.auction-info-container[b-54tmngobm8] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #d9d9d9;
    border-radius: 20px;
    width: 80%;
    padding: 30px;
}

.info-row[b-54tmngobm8] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.auction-input[b-54tmngobm8] {
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    width: 100%;
}

.input[b-54tmngobm8] {
    width: 50%;
}

.description[b-54tmngobm8] {
    width: 100%;
}

.submit-button[b-54tmngobm8] {
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 20px;
    background-color: #c02b44;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.submit-button:hover[b-54tmngobm8] {
    transform: scale(1.05);
}

.templates-container[b-54tmngobm8] {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px 20px;
    width: 80%;
}

.add-template-button[b-54tmngobm8] {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.add-template-button:hover[b-54tmngobm8] {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .cancel-auction-button[b-54tmngobm8] {
        left: 50%;
        transform: translateX(-50%);
    }
}
/* _content/app/Pages/Criar_leilao/Leilao_template.razor.rz.scp.css */
.template-container[b-c2z04kg3th] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    border-radius: 20px;
    padding: 30px;
    row-gap: 20px;
}

.auction-input[b-c2z04kg3th] {
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    width: 100%;
}

.input[b-c2z04kg3th] {
    width: 50%;
}

@media (max-width: 768px) {
    .template-row-right[b-c2z04kg3th] {
        flex-direction: column;
    }
}
/* _content/app/Pages/Index.razor.rz.scp.css */
.index-container[b-1jlyl90bcz] {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.search-bar[b-1jlyl90bcz] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #d9d9d9;
    width: 20%; 
    padding: 10px 15px;
    border-radius: 20px;
    margin: 0 auto;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.search-bar:hover[b-1jlyl90bcz] {
    transform: scale(1.05);
}

.recommended-auctions[b-1jlyl90bcz] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/* _content/app/Pages/Leiloes_favoritos/Leiloes_favoritos.razor.rz.scp.css */
.auctions-container[b-sqycdtmhw4] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}
/* _content/app/Pages/Login/Login.razor.rz.scp.css */
.login-container[b-j76pyj42g1], .login-input-container[b-j76pyj42g1] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.login-input-container[b-j76pyj42g1] {
    background-color: #d9d9d9;
    border-radius: 20px;
    padding: 20px;
    width: 50%;
}

.login-input[b-j76pyj42g1] {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    width: 80%;
}

.submit-login-button[b-j76pyj42g1] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #c02b44;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.submit-login-button:hover[b-j76pyj42g1] {
    transform: scale(1.05);
}

.login-button-img[b-j76pyj42g1] {
    width: 20px;
}
/* _content/app/Pages/Pagina_leilao/Pagina_leilao.razor.rz.scp.css */
/* _content/app/Pages/Pagina_pesquisa/Pagina_pesquisa.razor.rz.scp.css */
.search-container[b-mmu2nohosn], .search-results-container[b-mmu2nohosn] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.search-input-container[b-mmu2nohosn] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #d9d9d9;
    border-radius: 20px;
    width: 75%;
    padding: 20px;
    gap: 20px;
}

.search-input[b-mmu2nohosn] {
    background: white;
    padding: 10px;
    border-radius: 20px;
    width: 40%;
    text-align: center;
}

.input-container-row[b-mmu2nohosn] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.search-button[b-mmu2nohosn] {
    background-color: #c02d44;
    color: white;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.search-button:hover[b-mmu2nohosn] {
    transform: scale(1.05);
}

.search-results[b-mmu2nohosn] {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    gap: 20px;
    width: 80%;
}

.show-search-input-container[b-mmu2nohosn] {
    text-align: center;
    background-color: #d9d9d9;
    padding: 10px;
    border-radius: 20px;
}

.show-search-input[b-mmu2nohosn] {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    gap: 10px;
}
.input-type[b-mmu2nohosn] {
    font-weight: bold;
}
/* _content/app/Pages/Perfil/Perfil.razor.rz.scp.css */
.title-container[b-nahno1givc] {
    display: flex;
    flex-direction: space-between;
    align-items: baseline;
    justify-content: flex-start;
    gap: 20px;
}

.delete-profile[b-nahno1givc] {
    cursor: pointer;
}

.delete-profile:hover[b-nahno1givc] {
    text-decoration: underline;
}

.profile-container[b-nahno1givc] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.profile-info-box[b-nahno1givc] {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    border-radius: 20px;
    width: 70%;
    height: auto;
    padding: 20px;
    position: relative;
}

.profile-info[b-nahno1givc] {
    padding: 10px;
    font-weight: bold;
    background-color: white;
    border-radius: 20px;
    width: 90%;
    height: auto;
}

.edit-profile[b-nahno1givc] {
    cursor: pointer;
    margin-left: auto;
}

.edit-profile:hover[b-nahno1givc] {
    text-decoration: underline;
}

.transactions-history-button[b-nahno1givc] {
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #c02b44;
    padding: 10px 50px;
    border-radius: 20px;
    transition: all .2s ease-in-out;
}

.transactions-history-button:hover[b-nahno1givc] {
    transform: scale(1.05);
    color: inherit;
}
/* _content/app/Pages/Registo/Registo.razor.rz.scp.css */
.signin-container[b-wkh4rz9se9], .signin-input-container[b-wkh4rz9se9] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.signin-input-container[b-wkh4rz9se9] {
    background-color: #d9d9d9;
    border-radius: 20px;
    padding: 20px;
    width: 50%;
}

.signin-input[b-wkh4rz9se9] {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    width: 80%;
}

.submit-signin-button[b-wkh4rz9se9] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #c02b44;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.submit-signin-button:hover[b-wkh4rz9se9] {
    transform: scale(1.05);
}

.signin-button-img[b-wkh4rz9se9] {
    width: 30px;
}
/* _content/app/Shared/Leilao_card.razor.rz.scp.css */
.auction-card-container[b-zs4le6p17l] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #d9d9d9;
    padding: 20px;
    border-radius: 20px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.auction-card-container:hover[b-zs4le6p17l] {
    transform: scale(1.05);
}

.skin-picture[b-zs4le6p17l] {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
}

.weapon-skin[b-zs4le6p17l], .condition[b-zs4le6p17l] {
    font-weight: bold;
}
/* _content/app/Shared/NavMenu.razor.rz.scp.css */
.navbar[b-vl3c23brav] {
    color: #fff;
    font-weight: bold;
    background-color: #c02b44;
}

a.navbar-brand[b-vl3c23brav] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  margin-left: 5%;
}

a[b-vl3c23brav] {
  color: #ffffff;
}

.navbar-nav[b-vl3c23brav] {
  margin-right: 5%;
}

.nav-item[b-vl3c23brav] {
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.nav-item:hover[b-vl3c23brav] {
  transform: scale(1.05);
}
