@page "/Perfil"

@code {
    [Parameter] 
    public string nickname { get; set; }

    [Parameter]
    public string email { get; set; }

    [Parameter]
    public int telemovel { get; set; }

    [Parameter]
    public int id { get; set; }
}

<PageTitle>Perfil</PageTitle>

<div class="title-container">
    <h1 class="profile-page-title">Perfil</h1>

    <div class="delete-profile">
        <a>
            <p>Eliminar perfil</p>
        </a>
    </div>
</div>

<div class="profile-container">
    <div class="profile-info-box">
        <p class="profile-info">Nickname: @nickname</p>
        <p class="profile-info">E-mail: @email</p>
        <p class="profile-info">Telemóvel: @telemovel</p>
        <p class="profile-info">ID: @id</p>

        <div class="edit-profile">
            <a>Alterar dados da conta</a>
        </div>
    </div>

    <div class="transactions-history-button">
        <a>Histórico de <br> transações</a>
    </div>
</div>