@page "/Leiloes_favoritos"

<PageTitle>Leilões favoritos</PageTitle>

<h1>Leilões Favoritos</h1>


<div class="auctions-container">
    <Leilao_card />

    <Leilao_card />

    <Leilao_card />

    <Leilao_card />

    <Leilao_card />

    <Leilao_card />

    <Leilao_card />

    <Leilao_card />

    <Leilao_card />
</div>