/* _content/app/Pages/Criar_leilao/Criar_leilao.razor.rz.scp.css */
.auction-templates-container[b-54tmngobm8] {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cancel-auction-button[b-54tmngobm8] {
    background-color: #c02b44;
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 20px;
    width: fit-content;
    padding: 5px 20px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    position: relative;
    left: 80%;
}

.cancel-auction-button:hover[b-54tmngobm8] {
    transform: scale(1.05);
}

.templates-container[b-54tmngobm8], .add-template-button[b-54tmngobm8] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-template-button[b-54tmngobm8] {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.add-template-button:hover[b-54tmngobm8] {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .cancel-auction-button[b-54tmngobm8] {
        left: 50%;
        transform: translateX(-50%);
    }
}
/* _content/app/Pages/Criar_leilao/Leilao_template.razor.rz.scp.css */
.template-container[b-c2z04kg3th] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    gap: 20px;
}

.template-left[b-c2z04kg3th], .template-right[b-c2z04kg3th] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    border-radius: 20px;
    padding: 30px;
    row-gap: 20px;
}

.template-right[b-c2z04kg3th] {
    width: 65%;
}

.skin-name[b-c2z04kg3th] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.image-upload[b-c2z04kg3th], .weapon-select[b-c2z04kg3th], .skin-name-input[b-c2z04kg3th], 
.skin-condition-select[b-c2z04kg3th], .skin-description[b-c2z04kg3th],
.rarity-select[b-c2z04kg3th], .initial-price-input[b-c2z04kg3th],
.reserve-price-input[b-c2z04kg3th], .duration-input[b-c2z04kg3th],
.start-date-input[b-c2z04kg3th], .start-time-input[b-c2z04kg3th] {
    padding: 10px;
    border-radius: 20px;
    background-color: white;
}

.weapon-select[b-c2z04kg3th], .skin-name-input[b-c2z04kg3th] {
    width: 50%;
}

.skin-condition-select[b-c2z04kg3th],
.rarity-select[b-c2z04kg3th], .duration-input[b-c2z04kg3th],
.start-date-input[b-c2z04kg3th], .start-time-input[b-c2z04kg3th],
.initial-price-input[b-c2z04kg3th], .reserve-price-input[b-c2z04kg3th],
.publish-button[b-c2z04kg3th] {
    width: 95%;
}

.skin-description[b-c2z04kg3th], .rarity-and-prices[b-c2z04kg3th], .date-time-publish[b-c2z04kg3th] {
    width: 95%;
}

.rarity-and-prices[b-c2z04kg3th], .date-time-publish[b-c2z04kg3th] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.publish-button[b-c2z04kg3th] {
    background-color: #c02b44;
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 20px;
    padding: 5px 30px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.publish-button:hover[b-c2z04kg3th] {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .template-container[b-c2z04kg3th], .skin-name[b-c2z04kg3th],
    .rarity-and-prices[b-c2z04kg3th], .date-time-publish[b-c2z04kg3th] {
        flex-direction: column;
    }
}
/* _content/app/Pages/Index.razor.rz.scp.css */
.recommended-auctions[b-1jlyl90bcz] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/* _content/app/Pages/Leiloes_favoritos/Leiloes_favoritos.razor.rz.scp.css */
/* _content/app/Pages/Perfil/Perfil.razor.rz.scp.css */
.title-container[b-nahno1givc] {
    display: flex;
    flex-direction: space-between;
    align-items: baseline;
    justify-content: flex-start;
    gap: 20px;
}

.delete-profile[b-nahno1givc] {
    cursor: pointer;
}

.delete-profile:hover[b-nahno1givc] {
    text-decoration: underline;
}

.profile-container[b-nahno1givc] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.profile-info-box[b-nahno1givc] {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    border-radius: 20px;
    width: 70%;
    height: auto;
    padding: 20px;
    position: relative;
}

.profile-info[b-nahno1givc] {
    padding: 10px;
    font-weight: bold;
    background-color: white;
    border-radius: 20px;
    width: 90%;
    height: auto;
}

.edit-profile[b-nahno1givc] {
    cursor: pointer;
    margin-left: auto;
}

.edit-profile:hover[b-nahno1givc] {
    text-decoration: underline;
}

.transactions-history-button[b-nahno1givc] {
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #c02b44;
    padding: 10px 50px;
    border-radius: 20px;
    transition: all .2s ease-in-out;
}

.transactions-history-button:hover[b-nahno1givc] {
    transform: scale(1.05);
    color: inherit;
}
/* _content/app/Shared/NavMenu.razor.rz.scp.css */
.navbar[b-vl3c23brav] {
    color: #fff;
    font-weight: bold;
    background-color: #c02b44;
}

a.navbar-brand[b-vl3c23brav] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-vl3c23brav] {
  color: #ffffff;
}

.nav-item[b-vl3c23brav] {
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.nav-item:hover[b-vl3c23brav] {
  transform: scale(1.05);
}
