@page "/"

@inject NavigationManager NavigationManager

@code {
    private string email = "";
    private string password = "";

    public bool show_error_message = false;

    public bool show_bloqueado = false;

    void handle_login() {
        IDatabaseFacade db = new DatabaseFacade();

        ICollection<Pessoa> pessoas = db.get_Pessoas();

        

        foreach (Pessoa pessoa in pessoas) {
            if(pessoa.getEmail() == email && pessoa.getPassword() == password && pessoa.getEstado() == Estado.Bloqueado){
                show_bloqueado = true;
                return;
            }
            else if (pessoa.getEmail() == email && pessoa.getPassword() == password && pessoa.getTipo() == TipoDePessoa.Utilizador) {
                CurrentUser.setCurrentUser(pessoa);
                NavigationManager.NavigateTo("/leiloes_recomendados", forceLoad: true);
                return;
            }
            else if (pessoa.getEmail() == email && pessoa.getPassword() == password && pessoa.getTipo() == TipoDePessoa.Administrador) {
                CurrentUser.setCurrentUser(pessoa);
                NavigationManager.NavigateTo("/Admin_dashboard", forceLoad: true);
                return;
            }
        }

        show_error_message = true;
    }
}

<PageTitle>Login</PageTitle>

<div class="login-container">
    <h1>Login</h1>

    <div class="login-input-container">
        <input class="login-input" type="text" placeholder="E-mail" @bind="@email" required />

        <input class="login-input" type="password" placeholder="Password" @bind="@password" required />

        <div class="submit-login-button" @onclick="@handle_login">
            Submeter
            <img class="login-button-img" src="imgs/unlocked.png">
        </div>

        @if (show_error_message) {
            <div class="error-message">
                <p>Utilizador ou password incorretos</p>
            </div>
        }
        @if (show_bloqueado) {
            <div class="error-message">
                <p>Utilizador encontra-se Bloqueado</p>
            </div>
        }
    </div>
</div>
