@code {
    private string weapon = "AK-47";
    private string skin_name = "Redline";
    private string condition = "Field-Tested";
}

<a class="auction-card-container" href="">
    <img class="skin-picture" src="imgs/test_skin_img.jpeg">

    <div class="weapon-skin">@weapon | @skin_name</div>

    <div class="condition">@condition</div>
</a>