@inject NavigationManager NavigationManager

@code {
    [Parameter]
    public int id_leilao { get; set; }

    [Parameter]
    public string weapon { get; set; }

    [Parameter]
    public string skin_name { get; set; }

    [Parameter]
    public string condition { get; set; }

    [Parameter]
    public string raridade { get; set; }

    [Parameter]
    public decimal preco_maximo { get; set; }

    void NavigateToLeilao() {
        NavigationManager.NavigateTo($"/Pagina_leilao?id_leilao={id_leilao}");
    }
}

<a class="auction-card-container" data-aos="fade-up" @onclick="NavigateToLeilao">
    <div class="condition"> Leilão: @id_leilao</div>

    <img class="skin-picture" src="imgs/test_skin_img.jpeg">

    <div class="weapon-skin">@weapon | @skin_name</div>

    <div class="condition">@raridade | @condition</div>

    <div class="condition">@preco_maximo</div>
</a>