.auction-templates-container[b-54tmngobm8] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.auction-info-container[b-54tmngobm8] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #d9d9d9;
    border-radius: 20px;
    width: 80%;
    padding: 30px;
}

.info-row[b-54tmngobm8] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.auction-input[b-54tmngobm8] {
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    width: 100%;
}

.input[b-54tmngobm8] {
    width: 50%;
}

.description[b-54tmngobm8] {
    width: 100%;
}

.submit-button[b-54tmngobm8] {
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 20px;
    background-color: #c02b44;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.submit-button:hover[b-54tmngobm8] {
    transform: scale(1.05);
}

.templates-container[b-54tmngobm8] {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px 20px;
    width: 80%;
}

.add-template-button[b-54tmngobm8] {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.add-template-button:hover[b-54tmngobm8] {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .cancel-auction-button[b-54tmngobm8] {
        left: 50%;
        transform: translateX(-50%);
    }
}