.template-container[b-c2z04kg3th] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    border-radius: 20px;
    padding: 30px;
    row-gap: 20px;
}

.auction-input[b-c2z04kg3th] {
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    width: 100%;
}

.input[b-c2z04kg3th] {
    width: 50%;
}

@media (max-width: 768px) {
    .template-row-right[b-c2z04kg3th] {
        flex-direction: column;
    }
}