@page "/leiloes_recomendados"

<PageTitle>Inicio</PageTitle>

<div class="index-container">
    <a class="search-bar" href="/Pagina_pesquisa">
        <div class="search-bar-input">Pesquisar leilões</div>

        <img class="search-icon" src="/imgs/magnifying-glass.png" style="height: 20px;">
    </a>

    <h1 class="home-page-title">Leilões recomendados</h1>

    <div class="recommended-auctions">
        <p>Leilões recomendados aparecem aqui</p>
    </div>
</div>