@page "/Login"
@inject NavigationManager NavigationManager 

@code {
    private string email { get; set;}
    private string password { get; set; }

    private void HandleLogin() {
        if (email == "admin@coga.com" && password == "admin123") {
            NavigationManager.NavigateTo("/Admin_dashboard");
        }
    }
}

<PageTitle>Login</PageTitle>

<div class="login-container">
    <h1>Login</h1>

    <div class="login-input-container">
        <input class="login-input" type="text" placeholder="E-mail" @bind="@email" required />

        <input class="login-input" type="password" placeholder="Password" @bind="@password" required />

        <div class="submit-login-button" @onclick="HandleLogin">
            Submeter
            <img class="login-button-img" src="imgs/unlocked.png">
        </div>
    </div>
</div>